<header class="header">
  <nav class="container">
    <div class="header__wrapper">
      <a href="./#home" class="logo">
        <div class="logo__dot"></div>
        <span class="logo__text">xtrium<span>port</span></span>
      </a>

      <ul class="header__menu">
        <li><a href="./#about" class="menu-link">База</a></li>
        <li><a href="./#benefits" class="menu-link">Возможности</a></li>
        <li><a href="./#innovations" class="menu-link">Лаборатория</a></li>
        <li><a href="./#blog" class="menu-link">Кейсы</a></li>
      </ul>

      <a href="./#contact" class="header__cta">Запросить доступ</a>

      <button class="burger" id="burger">
        <span></span>
      </button>
    </div>
  </nav>
</header>
<div class="mobile-menu" id="mobile-menu">
  <div class="mobile-menu__inner">
    <ul class="mobile-menu__list">
      <li><a href="./#home" class="mobile-menu__link">Главная</a></li>
      <li><a href="./#about" class="mobile-menu__link">База</a></li>
      <li><a href="./#benefits" class="mobile-menu__link">Возможности</a></li>
      <li><a href="./#innovations" class="mobile-menu__link">Лаборатория</a></li>
      <li><a href="./#blog" class="mobile-menu__link">Кейсы</a></li>
    </ul>
    <a href="./#contact" class="btn btn--primary">Запросить доступ</a>
  </div>
</div>